html {
	background-color: #111;
	height: 100%;
}

body {
	height: 100vh;
	box-sizing: border-box;
	background-image: url("../images/space.jpg");
	background-size: cover;
	border: 1px solid transparent;
}

#game_screen {
	position: relative;
	background: rgba(75, 75, 100, .2);
	height: 500px;
	width: 1200px;
	margin: 15vh auto;
	border-radius: 14px;
}

#blue {
	position: absolute;
 	padding: 0 3px 3px 3px;
 	display: none;
}

#red {
	position: absolute;
	padding: 0 3px 3px 3px;
	display: none;
}

#target {
	position: absolute;
	display: none; 
}

@keyframes red_wins {
	0% {
		background: rgba(75, 75, 100, .2);
	}
	50% {
		background: rgba(200, 30, 50, .2);
	}
	100% {
		background: rgba(75, 75, 100, .2);
	}
}

.red_wins {
	animation-name: red_wins;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease-in;
}

@keyframes blue_wins {
	0% {
		background: rgba(75, 75, 100, .2);
	}
	50% {
		background: rgba(50, 30, 200, .2);
	}
	100% {
		background: rgba(75, 75, 100, .2);
	}
}

.blue_wins {
	animation-name: blue_wins;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease-in;
}

